body {
  background: url(../img/g-bg-desktop.svg);
  background-size: cover;
  overflow: hidden;
}

#playingArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
#player {
  position: absolute;
  /*        top: 650;*/
  bottom: 8%;
  left: 228;
  width: 125;
  height: auto;
  z-index: 99;
}

#player-bar {
  z-index: 99;
  width: 125px;
  margin-top: 8px;
  background-color: #ddd;
  border-radius: 999px;
}

#bar{
  height: 18px;
    background-color: #e91e63;
    /*background: linear-gradient(to bottom, rgba(255,0,132,1) 0%,rgba(255,140,199,1) 0%,rgba(255,0,132,1) 50%,rgba(255,114,187,1) 100%);*/

    width: 0%;
    border-radius: 999px;
}


.falling {
  display: block;
  height: 80px;
  width: 80px;
  position: absolute;
  z-index: -10;
}

#topbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

#lefttopwood{
  position: fixed;
  left: 0;
  height: 13.2vh;
  z-index: 2;
}

#middletopwood{
  position: fixed;
  height: 10vh;
  width: 95vw;
  left: 5px;
  right: 2px;
  top: 0;
}

#righttopwood{
  position: fixed;
  right: 0;
  height: 22vh;
}

#gameplaysettings{
  position: fixed;
  top: 2vh;
  right: 2vw;
  z-index: 2;
  width: 70px;
  position: absolute;
}

#mhhome{
  position: fixed;
  top: 12vh;
  right: 2vw;
  z-index: 2;
  width: 70px;
  position: absolute;
}

#bottombg {
  position: fixed;
  bottom: 0px;
  z-index: -2;
  width: 100vw;
}

#bottombg2 {
  position: fixed;
  bottom: 0px;
  z-index: -2;
  width: 100vw;
  display: none;
}

#score {
  position: fixed;
  top: 0.5%;
  left: 1vw;
  color: #fff;
  width: 90px;
  z-index: 10;
}

#scorebg {
  position: absolute;
  z-index: 2;
}

#scorering {
  position: relative;
  z-index: -1;
}

#textscore {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 20%;
  color: #893f09;
  font-size: 0.8em;
  z-index: 11;
}

#textscore p {
  position: relative;
  top: 20%;
  color: #893f09;
  z-index: 11;
  margin-top: 3vh;
  margin-bottom: -3vh;
}

#testscore{
  top: -22%;
  position: relative;
  z-index: 11;
  font-size: 1.5em;
}

#gameOver {
  position: fixed;
  background-image: url(../img/gameover-frame.svg);
  background-repeat: no-repeat;
  height: 50%;
  width: 20%;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
  margin: auto;
  /*            padding: 10px;*/
  display: none;
  z-index: 500;
}

#innerGameOver{
  position: relative;
  width: 90%;
  height: 43%;
  /*            margin-top: 10%;*/
  bottom: 2%;
  padding-top: 55%;
  margin: auto;
  /*            margin: 5% 0 10% 5%;*/
}

#buttonsGameOver {
  position: absolute;
  left: 0;
  margin: auto;
  bottom: 0;
  width: 80%;
  right: 0;
}

#gobutreplay {
  left: 0;
  cursor: pointer;
  width: 70px;
  bottom: 0;
}

#gobuthome {
  position: absolute;
  cursor: pointer;
  right: 0;
  width: 70px;
}

#finalScoreContainer {
  position: relative;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 30%;
  background-color: #893f09;
  text-align: center;
}

#finalScoreContainer p {
  color: #fff;
  position: relative;
  font-size: 1.5em;
  font-family: sans-serif;
}

#music {
  position: absolute;
  top: 20px;
  left: 500px;
  z-index: 999;
}


#timer {
  position: absolute;
  top: 10px;
  right: 150px;
  font-size: 30pt;
  color: white;
}

.bgDiv{
  position: absolute;
  width: 102vw;
  height: 104vh;
  z-index: 490;
  background-color: rgba(92, 42, 5, 0.8);
  margin-left: -2%;
  margin-top: -2%;
  margin-top: -2%;
}

#levelup{
  position: fixed;
  background-image: url(../img/levelup.svg);
  background-repeat: no-repeat;
  height: 50%;
  width: 25%;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
  margin: auto;
  /*            padding: 10px;*/
  display: none;
  z-index: 500;
}

#hurryup-alert {
  width: 24%;
    margin-left: 40%;
    margin-top: 40vh;
    display: none;
}

#hurryup{
  animation: alerting 2s infinite;
}

.controller {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 4%;
    bottom: 2%;
    display: none

  }

#left-arrow {
  position: relative;
  z-index: 900;
  float: left;
  width: 70px;
}

#left-arrow img {
  margin-left: 10%
}

#right-arrow img {
  margin-right: 10%
}

#right-arrow {
  position: relative;
  z-index: 900;
  float: right;
  width: 70px

}

@keyframes alerting {
  0%   { opacity:0; }
  50%  { opacity:1; transform: scale(2)}
  100% { opacity:0; }
}

@media (max-width: 700px) {
  body {
    background: url("./img/bg-3.svg")
    background-size: contain;
  }

  #bottombg2 {
    position: absolute;
    bottom: -25%;
    z-index: -2;
    width: 120vw;
    display: block;
    margin-left: -15vw;
  }

  #bottombg {
    display: none!important;
  }

  #gameOver {
    width: 90%;
    left: 10%;
  }

  #mhhome{
    position: fixed;
    top: 12vh;
    right: 2vw;
    z-index: 2;
    width: 50px;
    position: absolute;
  }

  #gameplaysettings{
    position: fixed;
    top: 2vh;
    right: 2vw;
    z-index: 2;
    width: 50px;
    position: absolute;
  }

  #scoreup {
    font-size: 5em;
    z-index: 100;
    position: fixed;
    top: 30vh;
    right: 2vw;
  }

  #player {
    width: 70px;
    bottom: 15%;
  }

  #player-bar {
    width: 90px;
    margin-left: -3vw;
  }

  #bar {
    height: 12px;
  }

  .falling {
    height: 60px;
    width: 60px;
  }

  #levelup {
    width: 90%;
    left: -5%;
  }

  #finalScoreContainer {
    left: -5%;
    border-radius: 3px;
  }

  #buttonsGameOver {
    left: -2%;
    width: 103%
  }

  #finalScoreContainer p {
    font-size: 1.2em;
    padding: 8%;
  }

  #bottombg {
      bottom: 0;
      z-index: 99;
      display: block
  }

  .controller {
    display: block
  }
